body{
    background-color: rgb(0, 0, 24);
    color: whitesmoke;
    border-left: 50px solid skyblue;
    border-bottom: 50px solid skyblue;
    border-right: 50px solid skyblue;
    text-align: center;
}
#a{
    margin: 2em;
}